<div class="container mt-5">
  <div class="card">
    <div class="head">
      <h2>Rate The Product of yamaha</h2>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img style="width: 500px;" src="../assets/mio.jpg" alt="">
      </div>
      <div class="col-md-6">
        <h3>Yamaha Product</h3>
        <p>Optimum combustion
          This improvement is made possible with an optimized valve design that enhances the tumble flow effect. This, along with a compact hemispherical combustion chamber results in a higher compression ratio.

          Increased cooling efficiency
          Heat is easily dissipated because of the DiASil Cylinder which cools 3-times faster than steel. The cooling effect is also assisted by a piston cooler that releases oil into the pistons.

          Reduced power loss
          Achieved with the use of the roller-rocker-arm; a mechanism that reduces friction resistance. There is also the forged piston that has a smaller reciprocating mass than cast pistons and this minimizes vibration for a smoother engine performance.

          The combination of these 3 elements results in More Power for Less Fuel and allows you to Be More with Blue Core.</p>
        <ngb-rating [(rate)]="currentRate"></ngb-rating>
        <hr>
        <pre>Rate: <b>{{currentRate}}</b> of 8</pre>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="card">
    <div class="head">
      <h2>Rate The Product of yamaha</h2>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <img style="width: 500px;" src="../assets/r1.jpg" alt="">
      </div>
      <div class="col-md-6">
        <h3>Yamaha Product</h3>
        <p>TOP FEATURES
          MotoGP®-Derived Crossplane Crankshaft Engine
          The 998cc inline-four-cylinder engine features Yamaha’s exclusive crossplane crankshaft technology derived from Yamaha's YZR-M1 MotoGP® race bike. Every aspect of this unique engine is built to thrill.
          Digital Superbike Technology
          The R1 features a cableless ride-by-wire Yamaha Chip Controlled Throttle (YCC-T®) system that transforms the rider’s inputs into motion, with a full suite of IMU-powered electronic rider aids that bring new meaning to the term "rider confidence."
          Superbike Brakes & Tires
          The YZF-R1 utilizes track-focused braking hardware, featuring potent 4-piston radial-mounted front calipers, stainless steel front brake lines, big 320mm front rotors with high-friction pads and a compact ABS unit. The Bridgestone® RS11 tires ensure true racetrack-ready traction with balanced road feel and handling.
          Sharp, Sleek Styling
          The YZF-R1 features beautifully integrated bodywork and sleek, stylish lines which create an unmistakably aggressive, aerodynamic profile.
          Legendary R-Series Handling In developing the R1, Yamaha engineers combined feedback gleaned from top-level riders and the world's most challenging race circuits. Advanced electronic systems boost rider confidence and control while the engine, suspension, brakes and aerodynamics complete the package.</p>
        <ngb-rating [(rate)]="currentRate"></ngb-rating>
        <hr>
        <pre>Rate: <b>{{currentRate}}</b> of 8</pre>
      </div>
    </div>
  </div>
</div>






